.aside {
    background-color: $primary-color;
    max-width: 360px;
    height: auto;
    padding: 60px 50px;
    border-right: 1px solid $border-base;
    width: 100%;

    &__menu {
        &-item {
            display: flex;
            align-items: center;

            &:hover {
                color: $success-color;
            }
        }

        &-icon {
            width: 22px;
            height: 22px;
            margin-right: 28px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.98617 9.00001C7.20071 9.00001 8.97235 7.22223 8.97235 5C8.97235 2.77778 7.20071 1 4.98617 1C2.77163 1 1 2.77778 1 5C1 7.22223 2.77163 9.00001 4.98617 9.00001Z' stroke='%23302F2D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.98617 21C7.20071 21 8.97235 19.2222 8.97235 17C8.97235 14.7778 7.20071 13 4.98617 13C2.77163 13 1 14.7778 1 17C1 19.2222 2.77163 21 4.98617 21Z' stroke='%23302F2D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.9447 9.00001C19.1592 9.00001 20.9308 7.22223 20.9308 5C20.9308 2.77778 19.1592 1 16.9447 1C14.7301 1 12.9585 2.77778 12.9585 5C12.9585 7.22223 14.7301 9.00001 16.9447 9.00001Z' stroke='%23302F2D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.9447 21C19.1592 21 20.9308 19.2222 20.9308 17C20.9308 14.7778 19.1592 13 16.9447 13C14.7301 13 12.9585 14.7778 12.9585 17C12.9585 19.2222 14.7301 21 16.9447 21Z' stroke='%23302F2D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        &-link {
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            color: $mainFontColor
        }
    }
}


@media screen and (max-width: $smDesktopWidth) {
    .aside {
        display: none;

        &.open {
            display: flex;
            position: absolute;
            height: 100%;
        }
    }
}