// Font
$mainFont                : 'Futura', sans-serif;
$secondFont              : 'Futura Demi', sans-serif;

// Size
$mainFontColor           : #302F2D;
$mainFontSize            : 20px;
$mainFontWeight          : 400;
$mainLineHeight          : 25px;

$desktopWidth            : 1920px;
$mediumDesktopWidth      : 1440px;
$smDesktopWidth          : 1024px;
$bigTableWidth           : 992px;
$tableWidth              : 767px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #FAFAFA;
$success-color           : #E65639;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             :  #E6E6E6;
